<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Biodata</title>
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700,200" rel="stylesheet" />
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
  <!-- CSS Files -->
  <link href="../assets/css/bootstrap.min.css" rel="stylesheet" />
  <link href="../assets/css/now-ui-dashboard.css?v=1.5.0" rel="stylesheet" />
  <!-- CSS Just for demo purpose, don't include it in your project -->
  <link href="../assets/demo/demo.css" rel="stylesheet" />
</head>
    
    <body>
     
      <div class="wrapper ">
        <%- include("../navbar"); -%>
        <div class="main-panel" id="main-panel">
          <!-- Navbar -->
          <%- include("../header"); -%>
          <div class="content">
            <div class="row">
              <div class="col-md-12">
                <div class="card">
                  <div class="card-header">
                    <h4 class="card-title">Create History</h4>
                  </div>
                  <div class="card-body">
                    <form method="POST" action="/history">
                        <div class="row">
                          <div class="col-md-6 pr-1">
                            <div class="form-group">
                              <label>Username</label>
                              <input type="text" class="form-control" placeholder="Username" name="username" value="Mike">
                            </div>
                          </div>
                          <div class="col-md-6 pl-1">
                            <div class="form-group">
                              <label>Round</label>
                              <input type="text" class="form-control" placeholder="round" name="round" value="12">
                            </div>
                          </div>
                        </div>
                        <div class="row">
                          <div class="col-md-6 pr-1">
                            <div class="form-group">
                              <label>Score</label>
                              <input type="text" class="form-control" placeholder="Score" name="score" value="2000">
                            </div>
                          </div>
                          <div class="col-md-6 pr-1">
                            <div class="form-group">
                              <label>Level</label>
                              <input type="text" class="form-control" placeholder="Level" name="level" value="Hard">
                            </div>
                          </div>
                        </div>
                        <div class="row">
                          <div class="col-md-4 pr-1">
                            <div class="form-group">
                              <label>Time</label>
                              <input type="text" class="form-control" placeholder="Time" name="time" value="01/01/2001">
                            </div>
                          </div>
                          
                        </div>
                       
                      <button type="submit" class="btn btn-primary">Submit</button>
                    </form>
                  </div>
                </div>
              </div>
             
            </div>
          </div>
          <footer class="footer">
            <div class=" container-fluid ">
              <nav>
                <ul>
                  <li>
                    <a href="/biodata">
                      Biodata
                    </a>
                  </li>
                  <li>
                    <a href="/user">
                      User Game
                    </a>
                  </li>
                  <li>
                    <a href="/history">
                      History
                    </a>
                  </li>
                </ul>
              </nav>
              <div class="copyright" id="copyright">
               <a>Dashboard Game User 2022</a>
              </div>
            </div>
          </footer>
        </div>
      </div>

        <!-- script -->
    
       
  <script src="../assets/js/core/jquery.min.js"></script>
  <script src="../assets/js/core/popper.min.js"></script>
  <script src="../assets/js/core/bootstrap.min.js"></script>
  <script src="../assets/js/plugins/perfect-scrollbar.jquery.min.js"></script>
  <!--  Google Maps Plugin    -->
  <script src="https://maps.googleapis.com/maps/api/js?key=YOUR_KEY_HERE"></script>
  <!-- Chart JS -->
  <script src="../assets/js/plugins/chartjs.min.js"></script>
  <!--  Notifications Plugin    -->
  <script src="../assets/js/plugins/bootstrap-notify.js"></script>
  <!-- Control Center for Now Ui Dashboard: parallax effects, scripts for the example pages etc -->
  <script src="../assets/js/now-ui-dashboard.min.js?v=1.5.0" type="text/javascript"></script><!-- Now Ui Dashboard DEMO methods, don't include it in your project! -->
  <script src="../assets/demo/demo.js"></script>
     
</body>
</html>
                     