<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Biodata</title>
    <link rel="stylesheet" type="text/css" href="../css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="../css/style.css" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css" />
</head>
    
    <body>
      <div class='dashboard'>
        <div class="dashboard-nav">
            <header><a href="#!" class="menu-toggle"><i class="fas fa-bars"></i></a>
              <a href="#" class="brand-logo"><i class="fas fa-anchor"></i><span>Dashboard</span></a>
            </header>
            <nav class="dashboard-nav-list">
              <a href="/game" class="dashboard-nav-item ">
                <i class="fa fa-user-o"></i>
                Game
              </a>
              <a href="/biodata" class="dashboard-nav-item active">
                <i class="fa fa-user"></i>
                Biodata
              </a>
              <a href="/history" class="dashboard-nav-item">
                <i class="fa fa-steam-square"></i>
                History
              </a>
            </nav>
        </div>
        <div class='dashboard-app'>
            <header class='dashboard-toolbar'><a href="#" class="menu-toggle"><i class="fas fa-bars"></i></a></header>
            <div class='dashboard-content'>
                <h1>Data Telah Dihapus</h1>
                <a href="/home" role="button" class="btn btn-sm btn-success ">
                </i>Back</a>
            </div>
        </div>
    </div>

        <!-- script -->
    
       
        <script type="text/javascript" src="../js/bootstrap.min.js"></script>
        <script type="text/javascript" src="../js/style.js"></script>
       
    </body>
    </html>