<footer class="footer">
    <div class=" container-fluid ">
      <nav>
        <ul>
          <li>
            <a href="/biodata">
              Biodata
            </a>
          </li>
          <li>
            <a href="/game">
              User Game
            </a>
          </li>
          <li>
            <a href="/history">
              History
            </a>
          </li>
        </ul>
      </nav>
      <div class="copyright" id="copyright">
       <a>Dashboard Game User 2022</a>
      </div>
    </div>
  </footer>