<div class="sidebar" data-color="orange">
    <div class="logo">
      <a href="/home" class="simple-text logo-mini">
        G
      </a>
      <a href="/home" class="simple-text logo-normal">
        Game Dashboard
      </a>
    </div>
    <div class="sidebar-wrapper" id="sidebar-wrapper">
      <ul class="nav">
        <li>
          <a href="/home">
            <i class="now-ui-icons business_bank"></i>
            <p>Home</p>
          </a>
        </li>
        <li>
          <a href="/biodata">
            <i class="now-ui-icons users_circle-08"></i>
            <p>Biodata</p>
          </a>
        </li>
        <li>
          <a href="/game">
            <i class="now-ui-icons tech_controller-modern"></i>
            <p>User</p>
          </a>
        </li>
        <li>
          <a href="/history">
            <i class="now-ui-icons tech_watch-time"></i>
            <p>History</p>
          </a>
        </li>
      </ul>
    </div>
  </div>